<div class="container vertical-center">
<h1><%=current_user.location %></h1>
<h2>Community Board</h2>
<h3>New Issue</h3>
<%= link_to root_path, class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
<% end %><br><br>
<%= link_to "Notice", new_notice_path %>

<%= render 'form', issue: @issue %>
</div>
